.container {
    display: flex;
}

.left-col {
    flex: 1;
    padding-right: 24px;
    /*border-right: 1px solid #ffa4a4;*/
}

.right-col {
    flex: 1;
    padding-left: 24px;
}

ul {
    margin-bottom: 48px;
}
