.link-bar {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.link-bar > a {
    font-size: 18px;
    border-radius: 5px;
    color: white;
    background-color: #343a47;
    border: 1px solid grey;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}

.link-bar > a:hover {
    background-color: #474f5e;
}

.icon {
    margin-right: 10px;
}
