.root {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #1b1b1b;
    padding: 20px 48px 20px 48px;
}

main {
    flex: 5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabContent {
}


.layout {
    display: flex;
    padding: 20px 48px 18px 36px;
}

.bio {
    flex: 2;
    padding: 0px 36px 0px 36px
}

.nameContainer {
    flex: 1;
    flex-direction: row;
    color: white;
    text-align: left;
}

.firstName {
    font-weight: bold;
    font-size: 64px;
    margin-right: 16px;
}

.lastName {
    font-weight: lighter;
    font-size: 64px;
    margin-right: 24px;
    color: #2e6fb7;
}

.headerSubtext {
    margin-top: 6px;
    text-align: left;
    font-style: italic;
    color: rgba(255, 255, 255, 0.93);
    font-size: 20px;
}

.linksContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.navButton {
    padding: 6px 0 6px 0;
}

.navLink {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.navLink:hover, .navLink:active {
    color: #989898;
}

.active {
    color: #2e6fb7;
}

.headshotContainer {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.headshot {
    width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    border: 1px solid grey;
}

/*ANIMATIONS*/

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.trackingInExpand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.slideInFwdCenter {
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-9 20:5:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}


@media only screen and (max-width: 960px) {
    .root {
    }
    .layout {
        padding: 18px 36px 18px 28px;
        flex-direction: column-reverse;
    }
    header {
        flex-direction: column;
        padding: 8px 12px 8px 12px;
    }
    .bio {
        margin-bottom: 48px;
        padding: 0;
    }
    .headshot {
        margin-top: 25px;
    }
    .navButton > a {
        font-size: 16px;
    }
    .navButton {
        flex: 1;
        text-align: center;
    }
    .nameContainer {
        text-align: center;
    }
    .firstName {
        font-size: 46px;
    }
    .lastName {
        font-size: 46px;
        margin-right: 0;
    }
    .hi {
        display: block;
    }
}
